---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Dark Rebellion">
  <div class="w-full h-full p-4 lg:w-1/2">
    <a href="Lookbook">
      <div
        class="bg-[linear-gradient(to_top,transparent,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7)),url('/portada-lookbook.JPG')] bg-cover bg-center aspect-[3/4] rounded pt-10 lg:pt-8 relative hover:opacity-80"
      >
        <h1
          class="leading-none text-[15vw] text-center select-none m-auto text-[#DDDCDB] lg:text-[7vw] xl:text-[6vw]"
        >
          Lookbook
        </h1>
      </div>
    </a>
  </div>
  <div class="w-full h-full p-4 lg:w-1/2">
    <a href="catalogo">
      <div
        class="bg-[linear-gradient(to_top,transparent,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7)),url('/portada-catalogo.JPG')] bg-cover bg-center aspect-[3/4] rounded pt-10 relative hover:opacity-80"
      >
        <h1
          class="leading-none text-[15vw] text-center select-none m-auto text-[#DDDCDB] lg:text-[7vw] xl:text-[6vw]"
        >
          Catálogo
        </h1>
      </div>
    </a>
  </div>
</Layout>
