---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Dark Rebellion">
  <main>
    <div class="container px-56 py-4 mx-auto flex flex-wrap">
      <div class="h-full p-4 lg:w-full">
        <div
          class="bg-gradient-to-r from-violet-500 to-fuchsia-500 rounded p-8 relative"
        >
          <h1 class="text-center title-font sm:text-2xl text-xl">
            Dark Rebellion
          </h1>
        </div>
      </div>

      <div class="h-full p-4 lg:w-1/2">
        <div
          class="bg-[url('/img/card1.webp')] bg-cover bg-center aspect-[3/4] rounded px-8 pt-16 pb-16 relative hover:opacity-80"
        >
          <h1 class="title-font sm:text-8xl text-4xl text-center select-none">
            uno
          </h1>
        </div>
      </div>
      <div class="h-full p-4 lg:w-1/2">
        <div
          class="bg-[url('/img/card2.webp')] bg-cover bg-center aspect-[3/4] rounded px-8 pt-16 pb-16 relative hover:opacity-80"
        >
          <h1 class="title-font sm:text-8xl text-4xl text-center select-none">
            dos
          </h1>
        </div>
      </div>
      <div class="h-full p-4 lg:w-full">
        <div
          class="bg-[url('/img/card3.webp')] bg-cover bg-center aspect-[16/9] rounded px-8 pt-96 pb-16 relative hover:opacity-80"
        >
          <h1 class="title-font sm:text-8xl text-4xl text-center select-none">
            video
          </h1>
        </div>
      </div>
    </div>
  </main>
</Layout>
