---
import type { ImageMetadata } from "astro";
import { Image, getImage } from "astro:assets";

var imagesGet = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/catalogo/*.{jpeg,jpg,png,gif}"
);
const images = [];
for (const ruta in imagesGet) {
  const image = await imagesGet[ruta]();
  images.push(image.default);
}
---

<div class="h-full p-4 lg:columns-2 2xl:columns-3">
  {
    images.map((image) => (
      <div class="mb-4 rounded">
        <Image
          class="object-contain h-full rounded"
          src={image}
          widths={[240, 540, 720, 1080]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, 1080px`}
          alt="Fotografia del catálogo"
          loading="lazy"
          decoding="async"
          quality={80}
        />
      </div>
    ))
  }
</div>
