---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  src: string;
}

const { src } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/catalogo/*"
);
---

<div class="mb-4 rounded">
  <Image src={images[src]()} alt="" />
</div>
