<header
  class="flex justify-between items-center py-5 mx-auto sticky top-0 z-10"
>
  <nav
    class="flex flex-row gap-x-10 items-center border border-gray-700 rounded-full bg-black/90"
  >
    <a
      href="https://www.linkedin.com/in/silvio-novas-mart%C3%ADnez/"
      target="_blank"
      class="rounded-full size-12 overflow-hidden"
    >
      <img
        class="rounded-full size-12 hover:scale-125 transition-all duration-100"
        src="https://media.licdn.com/dms/image/D4D03AQESR4iUyQy17Q/profile-displayphoto-shrink_800_800/0/1688574980083?e=1711584000&v=beta&t=8W_st_d6PszYar85StFAgOGeXaUCJGpgb_n3bqUZ69k"
        alt="Silviotron profile"
      />
    </a>
    <a href="/#inicio" class="hover:text-green-300/90">Inicio</a>
    <a href="/#proyectos" class="hover:text-green-300/90">Proyectos</a>
    <a href="/#habilidades" class="hover:text-green-300/90">Habilidades</a>
    <a href="/#sobre-mi" class="mr-10 hover:text-green-300/90">Sobre mi</a>
  </nav>
</header>
