---
import { getImage, Image } from "astro:assets";
interface Item {
  ref: string;
  description: string;
}
interface Props {
  title: string;
  row: number;
  items: Item[];
  imgs: string[];
}
const { title, row, items, imgs } = Astro.props;

const imgSrc = await import(imgs[0]);
---

<div class={`w-full h-full p-4 lg:w-1/${row} relative hover:opacity-80`}>
  <a href="catalogo">
    <div class="relative">
      <Image
        src={imgSrc.default}
        alt="Catálogo"
        class="bg-cover bg-center rounded relative"
      />
      <div
        class="absolute inset-0 bg-gradient-to-b from-transparent from-70% to-[rgba(255,255,255,0.35)] rounded"
      >
      </div>
      <h1
        class="leading-none text-[15vw] text-center select-none absolute bottom-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-[#000000] lg:text-[4vw] xl:text-[3vw]"
      >
        {title}
      </h1>
    </div>
  </a>
</div>
