---
import { getImage, Image } from "astro:assets";

interface Item {
  ref: string;
  description: string;
}

interface Props {
  title: string;
  row: number;
  items: Item[];
  imgs: string[];
}

const { title, row, items, imgs } = Astro.props;

var imagesGet = import.meta.glob<{ default: ImageMetadata }>(
  "../assets/lookbook/*.{jpeg,jpg,png,gif}"
);
const test = await imagesGet[imgs[0]]();
const image = test.default;
---

<div class=`w-full h-full p-4 lg:w-1/${row}`>
  <div
    style={`background-image: linear-gradient(to bottom,transparent,rgba(0,0,0,0),rgba(0,0,0,0),rgba(0,0,0,0.7)),url('')`}
    class="bg-cover bg-center aspect-[3/4] rounded pt-10 relative hover:opacity-80 flex flex-col justify-end"
  >
    <Image src={image} alt="" />
    <h1
      class="leading-none text-[15vw] text-center select-none mb-5 text-[#DDDCDB] lg:text-[4vw] xl:text-[3vw]"
    >
      {title}
    </h1>
  </div>
</div>
