---
import "@fontsource/tangerine/400.css";
import "@fontsource/tangerine/700.css";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Feel the shadow, wear the emotion" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <div
        class="w-[90vw] container m-auto flex flex-wrap lg:w-[80vw] xl:w-[70vw] 2xl:w-[60vw]"
      >
        <Header />

        <slot />
      </div>
    </main>
  </body>
</html>

<style is:global>
  html {
    font-family: Arial, Helvetica, sans-serif;

    margin-left: calc(100vw - 100%);
    --s: 50px;
    --c: #191b22;
    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, #20222a 68% 70%, #0000 72%;
    background:
      radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) /
        var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
      radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
      radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
      repeating-conic-gradient(var(--c) 0 25%, #0000 0 50%) 0 0 / var(--_s),
      radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s)
        var(--c);
    background-attachment: fixed;
    background-attachment: fixed;
  }
</style>
